{% extends "layout.html" %}

{% block page_title %}
  Event location
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <button class="link-back">Back</button>

      <form class="form" action="premises-licence" method="POST">
        <div class="form-group" data-required="Please answer this question within the specified limits">
          <fieldset>
            <legend>
              <h1 class="heading-large">What else can you tell us about the location?</h1>
            </legend>
            <div class="form-control-3-4">
              <label class="form-label form-label-bold" for="other-location-description">Describe the exact location</label>
              <textarea class="js-character-counter form-control" name="other-location-description" id="other-location-description" rows="4" maxlength="320" autocomplete="off">{{ data['other-location-description'] }}</textarea>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>
    </div>

    <div class="column-one-third">
      <div class="application-summary">
        <h2 class="heading-medium">Application number</h2>
        <span class="heading-large">X2F4-59Q3</span>
        <p class="font-small">Use this number to return to your application</p>
      </div>
    </div>

  </div>
</main>

{% endblock %}
